################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WSM.SourceGenerator.Gen/bin
/src/WSM.SourceGenerator.Gen/obj
/src/WSM.SourceGenerator.Lib/bin
/src/WSM.SourceGenerator.Lib/obj
/samples/WSM.SourceGenerator.Demo.Client/obj
/samples/WSM.SourceGenerator.Demo.Client/bin
/samples/WSM.SourceGenerator.Demo.WebApi/obj
/samples/WSM.SourceGenerator.Demo.WebApi/bin
/samples/WSM.SourceGenerator.Demo.SharedModels/obj
/samples/WSM.SourceGenerator.Demo.SharedModels/bin
/samples/WSM.SourceGenerator.Demo.Api/obj
/samples/WSM.SourceGenerator.Demo.Api/bin
